[push]
	default = upstream
[merge]
	conflictstyle = diff3
[user]
	email = gabriele.belluardo@outlook.it
	name = Gabriele Belluardo
	signingKey = 83E43A6563A2ED3312EEC27021671B8C89CCBF4F
[core]
	editor = nvim

[diff "odf"]
	textconv=odt2txt
[credential]
	helper = store
[protocol]
	version = 2
[pull]
	ff = only
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[github]
	user = gabelluardo